<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
  [ngClass]="color === 'light' ? 'bg-white' : 'bg-red-900 text-white'">
  <div class="rounded-t mb-0 px-4 py-3 border-0">

    <div class="text-center flex justify-between">
      <h6 class="text-blueGray-700 text-xl font-bold">Categorias</h6>
      <button
        class="bg-orange-500 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
        type="button" [routerLink]="['/admin/productos/new']">
        Crear Producto
      </button>
    </div>

    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="font-semibold text-lg" [ngClass]="color === 'light' ? 'text-blueGray-700' : 'text-white'">
          Titulo
        </h3>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">

    <app-card-product>
    </app-card-product>

  </div>
</div>
